{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% set card_type = fields.field_card_card_type_ref.content|striptags|trim %}
{% set card_button_content = "Go To "~ fields.title.content|striptags|trim %}

{#{% set card_modifiers = ['multiple'] %}#}
{% if card_type == 'Summary with Long Text' %}
  {% if (fields.field_card_summary.content|striptags('<p>')|replace({"<p>":"", "</p>":""})|trim) is not empty %}
    {% set card_body = fields.field_card_summary.content|render|striptags('<p>')|replace({"<p>":"", "</p>":""})|trim %}
  {% else %}
    {% set card_body = fields.field_card_body.content|striptags('<p>')|replace({"<p>":"", "</p>":""})|trim|truncate(200) %}
  {% endif %}
{% elseif card_type == 'Accordion with Summary' %}
    {% set card_body = fields.field_card_accordion_body.content|render|striptags('<p>')|replace({"<p>":"", "</p>":""})|trim|truncate(200) %}
  {% set card_extra_content = fields.field_card_accordion_body_1.content|render|striptags('<p>')|replace({"<p>":"", "</p>":""})|trim %}
{% endif %}

{% embed "@molecules/wvu-guide/wvu-guide.twig" with {
  card_title: fields.title.content|striptags|trim,
  card_serial_number: row.index + 1,
  card_body_modifiers: '',
  card_body_blockname: '',
  card_button_url: fields.view_node.content|striptags|trim,
  card_button_content: card_button_content,
  card_body_extra: card_extra_content
} %}
  {% block paragraph_content %}
    {{ card_body }}
  {% endblock %}
{% endembed %}
