{% set flying_wv_base_class = flying_wv_base_class|default('wvu-masthead__logo') %}
{% set link_base_class = flying_wv_base_class %}
{% block link_content %}
  {% include "@atoms/04-images/00-image/figure.twig" with {
      img_src: '../../images/flying-wv-w-signature.png',
      img_alt: 'Logo',
      img_url: logo_link_url|default('/'),
      image_figure_base_class: 'wvu-masthead__image',
      image_link_blockname: 'logo',
  } %}
  <span class="wvu-masthead__title">WVU Online</span>
{% endblock %}
