$card-size: minmax(305px, 400px);

@mixin css-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  justify-content: center;
}

.css-grid {
  @include css-grid;
}
