
<div id="header" role="banner">
  <div class="region-header">
    {{ content }}
  </div>
  <svg id="clipPath" height="0" width="0">
    <defs>
      <clipPath id="svgPath">
        <path class="cls-1" d="M0,142.82l495.61-27,16-26L1279,106V0H0Z"/>
      </clipPath>
    </defs>
  </svg>
</div>
